<%- include("partials/header"); -%> 
<body>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" name="postTitle" placeholder="Titulo" autofocus>
            <label>Post</label>
            <textarea class="form-control" name="postText" rows="5" placeholder="Escreva aqui"></textarea>            
        </div>
        <button class="btn btn-primary" type="submit">Publicar</button>   
    </form>    
</body>
<%- include("partials/footer"); -%>